.tiles article:nth-child(6n - 5):before {
  background-color: green;
}

.tiles article:nth-child(6n - 4):before {
  background-color: #8d82c4;
}

.tiles article:nth-child(6n - 3):before {
  background-color: #ec8d81;
}

.tiles article:nth-child(6n - 2):before {
  background-color: #e7b788;
}

.tiles article:nth-child(6n - 1):before {
  background-color: #8ea9e8;
}

.tiles article:nth-child(6n):before {
  background-color: #87c5a4;
}
